*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #10101a;
    --main-color: #2fbf71;
    --2nd-main-color: #ffffffcc;
    --text-color: #fff;
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
  }
  
  body {
    background: var(--bg-color);
    color: var(--text-color);
  }
.container{
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
}
.container .item{
    flex: 0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;
}
footer{
    text-align: center;
}
footer a{
    color: #fff;
    justify-items: center;
}
h1{
    color: var(--text-color);
}
h6{
    text-align: center;
    margin-bottom: 0;
    margin-top: 10px;
    color: var(--text-color);
}
h2{
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color: var(--text-color);
    font-weight: bold;
}
p{
    color: var( --main-color);
}

li:nth-child(1){
    list-style-image: url(books.png);
    
}
li:nth-child(2){
    list-style-image: url(teacher.png);
}
li:nth-child(3){
    list-style-image: url(location.png);
}
